h1 {
    color: blue;
    text-align: center;
}

h2, h3 {
    color: green;
    font-style: italic;
    text-align: center;
}

p, a {
    font-family: sans-serif;
}

ul, ol {
    line-height: 40px;
    font-family: sans-serif;
}